{{#partial "content"}}
    <div >
        <img class="topimage" src="https://www.eu-startups.com/wp-content/uploads/2018/06/health-startups.png">
    </div>
<h1>About us</h1>
   <div class="adjectives">
  <p>Professional.Specific .Descriptive </p>
   </div>
<div class="team">
    <h3>Team For Your Care</h3>
    <p>We ensure individualized and personal care that puts your needs and expectations first,<br> and that starts with a one-on-one consultation in our office.</p>
</div><br><br>
    <div class="row">
        <div class="col col-2" style="width:350px">
            <img src="hono.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honorine Niyonkuru</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" ><button>FIND OUT MORE</button></a>
            </div>
        </div>
            <div class="col col-md-2" style="width:350px">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Amandine Karambizi</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" ><button>FIND OUT MORE</button></a>
            </div>
            </div>
            <div class="col col-md-2" style="width:350px">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kimbagira Sylvie</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" ><button>FIND OUT MORE</button></a>
            </div>
            </div>

            <div class="col col-md-2" style="width:350px">
                <img src="ray.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Raissa Muyenzi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" ><button>FIND OUT MORE</button></a>
                </div>
            </div>

            <div class="col col-md-2" style="width:350px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nice Nicole</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" ><button>FIND OUT MORE</button></a>
                </div>
            </div>

    </div>


    <style>
    .topimage{
     height:330px;
     width:100%;
     }
        .row ,.team , .adjectives{
        margin-left:10%;
        }
       h3{
       color:#8E44AD  ;
       }
       button{
        background-color:#6C3483 ;
        color:white;
        border-radius:50px;
        height:50px;
        padding:15px;
        width:200px;
       }
       img {
        height:300px;

     }
    </style>
{{/partial}}
{{>layout.hbs}}