{{#partial "content"}}
    <div class="topimage">
        <img src="https://alldoctorsonline.com/wp-content/uploads/2019/04/Register-With-us.png">
    </div>
<h1>About us</h1>
   <div class="adjectives">
  <p>Professional.Specific .Descriptive </p>
   </div>
<div class="team">
    <h3>Team For Your Care</h3>
    <p>We ensure individualized and personal care that puts your needs and expectations first,<br> and that starts with a one-on-one consultation in our office.</p>
</div><br>
    <div class="row">
        <div class="col col-2" style="width:350px">
            <img src="raissa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
            <div class="col col-md-2" style="width:350px">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
            <div class="col col-md-2" style="width:350px">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>

            <div class="col col-md-2" style="width:350px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="col col-md-2" style="width:350px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

    </div>


    <style>
        .row ,.team , .adjectives{
        margin-left:10%;
        }

    </style>
{{/partial}}
{{>layout.hbs}}