{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                The aorta is the largest artery in the body. Oxygen-rich blood enters the aorta and the heart pumps the blood out of the aorta where it travels to the rest of the body via the smaller arteries that branch out from it.

                When affected by disease, the aorta can split (dissection) or dilate (aneurysm) and in either case, the rupture may have fatal results.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://columbiasurgery.org/sites/default/files/styles/large/public/aortic_david_step2_1.gif?itok=htAuX8p4">

        <div class="col-md-5" id="paragraphs">
            <p>
                The aorta is shaped like a cane. The curved part extends up from the heart, branching off into blood vessels that supply blood to the head and arms. The aorta then descends through the chest and abdomen, where it divides into the blood vessels that supply the abdominal organs and legs.
            </p>

        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://www.uwhealth.org/heart-cardiovascular/about-aortic-disease/11004"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://www.escardio.org/Guidelines/Clinical-Practice-Guidelines/Aortic-Diseases"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://www.hopkinsmedicine.org/heart_vascular_institute/conditions_treatments/conditions/aorta.html"></a>useful information</h6>
            </div>
            <br>
            <div id="four">
                <h6><a href="https://www.mayoclinic.org/diseases-conditions/thoracic-aortic-aneurysm/symptoms-causes/syc-20350188"></a>useful information</h6>
            </div>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                A variety of diseases and conditions can cause damage to the aorta and put patients at great, life-threatening risk. Those conditions include:
                Atherosclerosis (hardening of the arteries); Hypertension (high blood pressure); Genetic conditions (such as Marfan Syndrome); Connective tissue disorders (such as Ehler-Danlos disorder, polychondritis, scleroderma, osteogenesis imperfecta, polycystic kidney disease and Turners Syndrome); Injury.
            </p>
            <img class="col-md-9" height="10%" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2014/09/22/10/59/mcdc7_aorticdissection_.jpg">

        </div>
        <hr style="width:100%;">

        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Thoracic aortic aneurysms often grow slowly and usually without symptoms, making them difficult to detect. Some aneurysms will never rupture. Many start small and stay small, although many expand over time. How quickly an aortic aneurysm may grow is difficult to predict.            </p>
            <p>
                As a thoracic aortic aneurysm grows, some people may notice:

                Tenderness or pain in the chest; Back pain; Hoarseness; Cough; Shortness of breath
            </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


