{{#partial "content"}}

    <body>
    <br>
<h1 class="text-center" style="font-family: 'Cormorant Garamond', serif;">
 CARDIO-VASCULAR DISEASES
</h1>
        <br><br>
    <div class="row" style="margin-left:100px">
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/heart1.png" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text">Kidney Stone </a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Have a balanced diet. A healthy, balanced diet is recommended for a healthy heart. ...</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px ">
            <img src="/images/heart2.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text">Hypotension</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Keep your cholesterol and triglyceride levels under control</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/heart3.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text" style="font-family: 'Cormorant Garamond', serif;">strock</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Try to limit saturated fats, foods high in sodium, and added sugars..</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/heart4.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text">Aortic</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Stay at a healthy weight,Limit alcohol and Get regular exercise</p>
            </div>
        </div>
    </div>
        <br>  <br>  <br>
    <a href="/heartsol"  class="text-center"><button > Sports & Diets</button></a>

    </body>

{{/partial}}
{{> layout.hbs}}
