{{#partial "content"}}
    <body>
    <div class="row">
        <div class="card" style="width: 25rem; height: 15rem;">
            <img src="/images/kidney1.jpg" class="card-img-top" style="width: 25rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Kidney Stone disease</p>
                <p class="card-text">Follow a low-salt, low-fat diet and Exercise at least 30 minutes on most days of the week.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/kidney2.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Glomerulonphritis disease</p>
                <p class="card-text">Stay hydrated and Drinking plenty of fluid will help your kidneys function properly.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/kidney3.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Polycystic kidny disease</p>
                <p class="card-text">Watch your blood pressure, foods high in sodium, and added sugars.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/kidney4.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Urinary tract disease</p>
                <p class="card-text"> Protect your kidneys by preventing or managing health conditions that cause kidney damage.</p>
            </div>
        </div>
    </div>
    </body>

    </div>
{{/partial}}
<style>
    body{
    padding-left:300px;
    justify-content:space-between;
    }
</style>
{{> layout-kimbagira.hbs}}