{{#partial "content"}}
<body>
<br>
<h1 class="text-center">
    KIDNEY DISEASES
</h1>
<br><br>
    <div class="row" style="margin-left:100px">
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/kidney-1.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Kidney Stone disease</p>
                <p class="card-text">Follow a low-salt, low-fat diet and Exercise at least 30 minutes on most days of the week.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/kidney-2.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Glomerulonphritis disease</p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Stay hydrated and Drinking plenty of fluid will help your kidneys function properly.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/kidney3.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Polycystic kidny disease</p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Watch your blood pressure, foods high in sodium, and added sugars.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/kidney4.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Urinary tract disease</p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;"> Protect your kidneys by preventing or managing health conditions that cause kidney damage.</p>
            </div>
        </div>
    </div>
</body>
{{/partial}}
{{> layout.hbs}}

