{{#partial "content"}}
    <div class="whole-page">


<!--        <div class="modal-dialog modal-side modal-top-right" role="document">-->
<!--            <div class="modal-dialog cascading-modal" role="document">-->
<!--                <form action="/comments" method="post">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header indigo-color white-dark">-->
<!--                            <h4>-->
<!--                                <i class="far fa-newspaper"></i> Get in touch</h4>-->
<!--                        </div>-->

<!--                        <div class="modal-body">-->

<!--                            <div class="md-form form-sm">-->
<!--                                <i> Your Name</i>-->
<!--                                <input type="text" name="name" class="form-control form-control-sm" required>-->
<!--                            </div>-->

<!--                            <div class="md-form form-sm">-->
<!--                                <i> <strong> Your Email</strong></i>-->
<!--                                <input type="email" name="email" class="form-control form-control-sm" required>-->
<!--                            </div>-->

<!--                            <div class="md-form form-sm">-->
<!--                                <i> Subject</i>-->
<!--                                <input type="text" name="subject" class="form-control form-control-sm" required>-->
<!--                            </div>-->

<!--                            <div class="text-center mt-4 mb-2">-->
<!--                                <i> <strong> Message</strong></i>-->
<!--                                <textarea class="md-textarea form-control" name="message" type="text" rows="5" required>-->
<!--                            </textarea>-->
<!--                            </div>-->
<!--                            <div class="text-center mt-4 mb-2">-->
<!--                                <button class="btn btn-outline-danger" type="submit">Send-->
<!--                                </button>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
    </div>

{{/partial}}

{{> layout.hbs}}
