{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                Diabetes is a chronic, metabolic disease characterized by elevated levels of blood glucose (or blood sugar), which leads over time to serious damage to the heart, blood vessels, eyes, kidneys, and nerves.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://nouvellesconso.leclerc/wp-content/uploads/2018/11/ONC_Focus-sante_ITW-expert_OK.png">

        <div class="col-md-5" id="paragraphs">
            <p>
                The most common is type 2 diabetes, usually in adults, which occurs when the body becomes resistant to insulin or doesn't make enough insulin. In the past three decades the prevalence of type 2 diabetes has risen dramatically in countries of all income levels.
            </p>
            <p>
                Type 1 diabetes, once known as juvenile diabetes or insulin-dependent diabetes, is a chronic condition in which the pancreas produces little or no insulin by itself. For people living with diabetes, access to affordable treatment, including insulin, is critical to their survival.
            </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://www.who.int/health-topics/diabetes"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/symptoms-causes#symptoms"></a>useful information</h6>
            </div>
            <br>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Type 1 diabetes occurs when your immune system, the body’s system for fighting infection, attacks and destroys the insulin-producing beta cells of the pancreas.
            </p>
            <p>
                Scientists think type 1 diabetes is caused by genes and environmental factors, such as viruses, that might trigger the disease. Studies such as TrialNet  are working to pinpoint causes of type 1 diabetes and possible ways to prevent or slow the disease.
            </p>
            <img class="col-md-9" src="https://img.aws.la-croix.com/2013/04/15/942719/Autotest-OraQuick-Environ-150-000-personnes-France-vivent-avec-VIH-Parmi-elles-pres-20-ignorent-leur-seropositivite_0_730_505.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Symptoms of diabetes include:
                 increased thirst and urination; increased hunger; fatigue; blurred vision; numbness or tingling in the feet or hands; sores that do not heal; unexplained weight loss
            </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


