{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                Type 2 diabetes, the most common type of diabetes, is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes mainly from the food you eat. Insulin, a hormone made by the pancreas, helps glucose get into your cells to be used for energy. In type 2 diabetes, your body doesn’t make enough insulin or doesn’t use insulin well. Too much glucose then stays in your blood, and not enough reaches your cells.

                The good news is that you can take steps to prevent or delay the development of type 2 diabetes.

            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://iasbh.tmgrup.com.tr/eb844f/650/344/8/0/1830/963?u=http://i.sabah.com.tr/sbh/2016/11/16/diyabet-hastaligi-nedir-belirtileri-nelerdir-1479297340883.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                You can develop type 2 diabetes at any age, even during childhood. However, type 2 diabetes occurs most often in middle-aged and older people. You are more likely to develop type 2 diabetes if you are age 45 or older, have a family history of diabetes, or are overweight or obese. Diabetes is more common in people who are African American, Hispanic/Latino, American Indian, Asian American, or Pacific Islander.            </p>
            <p>
                Physical inactivity and certain health problems such as high blood pressure affect your chances of developing type 2 diabetes. You are also more likely to develop type 2 diabetes if you have prediabetes or had gestational diabetes when you were pregnant. Learn more about risk factors for type 2 diabetes.
            </p>
        </div>
<!--        <div class="col-md-3" id="lists">-->
<!--            <div id="one">-->
<!--                <h6><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes/type-2-diabetes#whatis"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="two">-->
<!--                <h6><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/symptoms-causes#type">useful information</a></h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="three">-->
<!--                <h6><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/symptoms-causes#symptoms"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--        </div>-->

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Type 2 diabetes—the most common form of diabetes—is caused by several factors, including lifestyle factors and genes. This include:
                 Overweight, obesity, and physical inactivity; insulin resistance; genes and family history
            </p>
            <img class="col-md-9" src="http://tono7.files.wordpress.com/2008/08/memento1.jpg">

        </div>

        <hr>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Symptoms of diabetes include:
                increased thirst and urination; increased hunger; fatigue; blurred vision; numbness or tingling in the feet or hands; sores that do not heal; unexplained weight loss
            </p>

        </div>
<!--        <div class="col-md-3" id="icons">-->
<!--            <a href="#" class="fa fa-facebook"></a>-->
<!--            <a href="#" class="fa fa-twitter"></a>-->
<!--            <a href="#" class="fa fa-google"></a>-->
<!--            <a href="#" class="fa fa-instagram"></a>-->
<!--            <a href="#" class="fa fa-youtube"></a>-->
<!--        </div>-->
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>
<a href="/diabetesol"  class="text-center"><button > Sports & Diets</button></a>
</div>

{{/partial}}

{{> layout_nicole.hbs}}


