
{{#partial "content"}}
    <body>
    <div class="row">
        <div class="card" style="width: 25rem; height: 15rem;">
            <img src="/images/diabetes1.jpg" class="card-img-top" style="width: 25rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Gestational diabeyes</p>
                <p class="card-text">Cut Sugar and Refined Carbs From Your Diet</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/diabetes2.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Diabetes LADA</p>
                <p class="card-text">Drink Water as Your Primary Beverage and Quit Smoking</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/diabetes3.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Diabetes MODY</p>
                <p class="card-text">Work Out Regularly and Lose Weight If You're Overweight or Obese.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/diabetes4.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Steroid induced</p>
                <p class="card-text">Avoid Sedentary Behaviors.
                </p>
            </div>
        </div>
    </div>
    </body>

    </div>
{{/partial}}
<style>
    body{
    padding-left:300px;
    justify-content:space-between;
    }
</style>
{{> layout-kimbagira.hbs}}
