{{#partial "content"}}
    <body>
    <br>
    <h1 class="text-center">
        DIABETES DISEASES
    </h1>
    <br><br>
    <div class="row" style="margin-left:100px">
        <div class="card" style="width: 25rem; height: 30rem;padding:15px">
            <img src="/images/diabetes1.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;"><a href="/diabetes_type_one">Gestational diabetes</a></p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Cut Sugar and Refined Carbs From Your Diet</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/diabetes2.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;"><a href="/diabetes_type_two">Diabetes LADA</a></p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Drink Water as Your Primary Beverage and Quit Smoking</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/diabetes3.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;"><a href="/diabetes_type_one">Diabetes MODY</a></p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Work Out Regularly and Lose Weight If You're Overweight or Obese.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem;padding:15px">
            <img src="/images/diabetes4.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;"><a href="diabetes_type_two">Steroid induced</a></p>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Avoid Sedentary Behaviors.
                </p>
            </div>
        </div>
    </div>
    </body>
    <br><br>
    <a href="/diabetesol"  class="text-center"><button > Sports & Diets</button></a>
{{/partial}}

{{> layout.hbs}}