{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                Glomerulonephritis is a group of diseases that injure the part of the kidney that filters blood (called glomeruli). Other terms you may hear used are nephritis and nephrotic syndrome. When the kidney is injured, it cannot get rid of wastes and extra fluid in the body. If the illness continues, the kidneys may stop working completely, resulting in kidney failure
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="http://medicare.bold-themes.com/cosmetic-surgery/wp-content/uploads/sites/11/2017/08/cosmetic-surgery-blog-12.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                There are two types of glomerulonephritis—acute and chronic. The acute form develops suddenly. You may get it after an infection in your throat or on your skin. Sometimes, you may get better on your own. Other times, your kidneys may stop working unless the right treatment is started quickly.
            </p>

        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6>Category</h6>
                <p>Services</p>
            </div>
            <br>
            <div id="two">
                <h6>Price Range</h6>
                <p>1800-6000</p>
            </div>
            <br>
            <div id="three">
                <h6>Recovery period</h6>
                <p>10-30 days</p>
            </div>
            <br>
            <div id="four">
                <h6>Recommended patients</h6>
                <p>30-60 yrs old</p>
            </div>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                The acute glomerulonephritis disease may be caused by infections such as strep throat. It may also be caused by other illnesses, including lupus, Goodpasture's syndrome, Wegener's disease, and polyarteritis nodosa.
            </p>
            <p>
                Sometimes, chronic glomerulonephritis disease runs in the family. This kind often shows up in young men who may also have hearing loss and vision loss. Some forms are caused by changes in the immune system. However, in many cases, the cause is not known. Sometimes, you will have one acute attack of the disease and develop the chronic form years later.
            </p>
            <img class="col-md-9" src="http://medicare.bold-themes.com/cosmetic-surgery/wp-content/uploads/sites/11/2018/03/before-after-06-01.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                The early symptoms of the acute disease are:

                puffiness of your face in the morning; blood in your urine (or brown urine); urinating less than usual.
            </p>
            <p>
                With the amount of options you have to choose from, it can be difficult to find the best solution when learning about breast augmentation. Through a personal consultation, however, you can discuss your expectations and choose the technique that suits you best.
            </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


