{{#partial "content"}}
    <div id="newh">
        <div id="head" class="row">
            <div class="col-md-6" id="insp">
                <div>
                    <strong><p id="para" style="font-family: 'Cormorant Garamond', serif;">Walk with your mind at ease </p></strong>
                </div>
                <div id="para1"><p style="font-family: 'Cormorant Garamond', serif;"><strong>Fell better inside</strong></p></div>
                <div id="para2"><p style="font-family: 'Cormorant Garamond', serif;">Introducing a way of getting information, that can transform.</p></div>
                <div id="butt"><p id="but" style="font-family: 'Cormorant Garamond', serif;"><a>DISCOVER MORE</a></p></div>
            </div>
            <div class="col-md-6">
                <img id="ima" src="/images/Yoga-PNG-Clipart.png">
            </div>
        </div>
        <div id="ncds" class="btClear btSeparator topSmallSpaced">
            <p id="n" style="font-family: 'Cormorant Garamond', serif;">NCDs-Insights</p>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="c1"><p>Stay health</p></div>
    <div class="c2"><h1 style="font-family: 'Cormorant Garamond', serif;">Discover with us</h1>
        <P style="font-family: 'Cormorant Garamond', serif;">The lifewe live is worth taking care of
            begin this journey with us prevent deseases and preserve your life<br>
            and that of the people you love,read and practice good health routines<br>
            remember there is more to lie that are yet tobe enjoyed.</P>
    </div>
    <div class="content" style="margin-left:40px; display:flex;flex-direction:row;justify-content:space-around">
        <div class="sli" id="sli-1">
            <div class="card" id="card1">
                <a><img src="https://media.npr.org/assets/img/2013/05/24/cropscisource_bh5041-31a1b4a59e737514549cca29e838f74f2dcf947a-s800-c85.jpg"
                        width="250"></a>
                <div class="container">
                    <a href="services/cardio"><h4 style="font-family: 'Cormorant Garamond', serif;"><b>cardiovascular diseases</b></h4></a>

                </div>
            </div>
            <div class="card" id="card2">
                <a><img src="https://www.whywesnore.com/x/lc-content/uploads/2017/07/Glucometer-and-other-instruments.png"
                        width="250" height="190"></a>
                <div class="container">
                    <a HREF="services/diabetes"><h4 style="font-family: 'Cormorant Garamond', serif;"><b>Diabetes</b></h4></a>

                </div>
            </div>
            <div class="card" id="card3">
                <a><img src="http://media.healthday.com/Images/icimages/kidney4141.jpg?resize=800:600" width="250"></a>
                <div class="container">
                    <a href="services/kidney"><h4 style="font-family: 'Cormorant Garamond', serif;"><b>Chronic Kidney Disease</b></h4></a>

                </div>
            </div>
            <div class="card" id="card4">
                <a><img src="/images/exercise.png" width="250" height="200"></a>
                <div class="container">
                    <a href="/services/mental"><h4 style="font-family: 'Cormorant Garamond', serif;"><b>mental conditions</b></h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="sub">
        <div class="sub1">
            <p style="font-family: 'Cormorant Garamond', serif;">"Say hello to a good health"</p>
            <h3 style="font-family: 'Cormorant Garamond', serif;">subscribe to our news letter</h3>
            <div class="form">
                <form>
                    <div class="btSubscribe">
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email" name="your-email" style="border-radius:20px;" placeholder="Type in your email address" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
                         </span>
                        <button type="submit" value="SUBSCRIBE" style="border-radius:20px;font-family: 'Cormorant Garamond', serif;" class=" wpcf7-submit">SUBSCRIBE</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}