{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
            Hypertension, also known as high or raised blood pressure, is a condition in which the blood vessels have persistently raised pressure. Blood is carried from the heart to all parts of the body in the vessels. Each time the heart beats, it pumps blood into the vessels. Blood pressure is created by the force of blood pushing against the walls of blood vessels (arteries) as it is pumped by the heart. The higher the pressure the harder the heart has to pump.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://www.canalvie.com/polopoly_fs/1.8491237.1539297302!/image/hypertension-grossesse-670.jpg_gen/derivatives/cvlandscape_670_377/hypertension-grossesse-670.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
            The heart is a muscular organ in most animals, which pumps blood through the blood vessels of the circulatory system. Blood provides the body with oxygen and nutrients, as well as assisting in the removal of metabolic wastes. In humans, the heart is located between the lungs, in the middle compartment of the chest.
            </p>
            <p>
              Hypertension (HTN or HT), also known as high blood pressure (HBP), is a long-term medical condition in which the blood pressure in the arteries is persistently elevated.[10] High blood pressure typically does not cause symptoms.Long-term high blood pressure, however, is a major risk factor for coronary artery disease, stroke, heart failure, atrial fibrillation, peripheral arterial disease, vision loss, chronic kidney disease, and dementia.
            </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6>Category</h6>
                <p>Services</p>
            </div>
            <br>
            <div id="two">
                <h6>Price Range</h6>
                <p>1800-6000</p>
            </div>
            <br>
            <div id="three">
                <h6>Recovery period</h6>
                <p>10-30 days</p>
            </div>
            <br>
            <div id="four">
                <h6>Recommended patients</h6>
                <p>30-60 yrs old</p>
            </div>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
               Hypertension results from a complex interaction of genes and environmental factors. Numerous common genetic variants with small effects on blood pressure have been identified as well as some rare genetic variants with large effects on blood pressure. Also, genome-wide association studies (GWAS) have identified 35 genetic loci related to blood pressure; 12 of these genetic loci influencing blood pressure were newly found.[36] Sentinel SNP for each new genetic locus identified has shown an association with DNA methylation at multiple nearby CpG sites. These sentinel SNP are located within genes related to vascular smooth muscle and renal function. DNA methylation might affect in some way linking common genetic variation to multiple phenotypes even though mechanisms underlying these associations are not understood. Single variant test performed in this study for the 35 sentinel SNP (known and new) showed that genetic variants singly or in aggregate contribute to risk of clinical phenotypes related to high blood pressure.
            </p>
            <img class="col-md-9" src="http://sante.lefigaro.fr/sites/default/files/img/2012/02/28/hypertension.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
            If your blood pressure is extremely high, there may be certain symptoms to look out for,including:Severe headache,Fatigue or confusion,Vision problems,Chest pain,Difficulty breathing, Irregular heartbeat,Blood in the urine, Pounding in your chest, neck, or ears,
            </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


