{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                Hypotension is low blood pressure, especially in the arteries of the left sided systemic circulation.[1] Blood pressure is the force of blood pushing against the walls of the arteries as the heart pumps out blood.
                Hypotension is the opposite of hypertension, which is high blood pressure. It is best understood as a physiological state rather than a disease. Severely low blood pressure can deprive the brain and other vital organs of oxygen and nutrients, leading to a life-threatening condition called shock.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://ak2.picdn.net/shutterstock/videos/15299842/thumb/11.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                For some people who exercise and are in top physical condition, low blood pressure is a sign of good health and fitness. A single session of exercise can induce hypotension and water-based exercise can induce important hypotension response.            </p>
            <p>
            For many people, excessively low blood pressure can cause dizziness and fainting or indicate serious heart, endocrine or neurological disorders.
            </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://en.wikipedia.org/wiki/Hypotension"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://en.wikipedia.org/wiki/Hypotension#Causes"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://en.wikipedia.org/wiki/Hypotension#Signs_and_symptoms"></a>useful information</h6>
            </div>
            <br>

        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Low blood pressure can be caused by low blood volume, hormonal changes, widening of blood vessels, medicine side effects, anemia, heart problems or endocrine problems.
            </p>
            <p>
                Reduced blood volume, hypovolemia, is the most common cause of hypotension. This can result from hemorrhage; insufficient fluid intake, as in starvation; or excessive fluid losses from diarrhea or vomiting. Hypovolemia is often induced by excessive use of diuretics. Low blood pressure may also be attributed to heat stroke. The body may have enough fluid but does not retain electrolytes. Absence of perspiration, light headedness and dark coloured urine are also indicators.

                Other medications can produce hypotension by different mechanisms. Chronic use of alpha blockers or beta blockers can lead to hypotension. Beta blockers can cause hypotension both by slowing the heart rate and by decreasing the pumping ability of the heart muscle.
            </p>
            <img class="col-md-9" src="https://www.boldsky.com/img/2017/10/bloodpressure1-26-1509013275.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                The primary symptoms of hypotension are lightheadedness or dizziness.

                If the blood pressure is sufficiently low, fainting may occur.
            </p>
            <p>
                Low blood pressure is sometimes associated with certain symptoms, many of which are related to causes rather than effects of hypotension:

                chest pain; shortness of breath; irregular heartbeat; fever higher than 38.3 °C (101 °F); headache; stiff neck
             </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


