{{#partial "content"}}
<div class="container">
    <!--    <img src="https://images.wallpaperscraft.com/image/wood_background_texture_36573_1280x720.jpg">-->
    <div class="navigation">

    </div>
    <p>YOUR LIFE IS BEYOND THE WAY YOU EXPECT IT TO BE. bE AWARE OF NCDs AND PREVENT IT FROM ANY MEMBER OF YOUR FAMILY AND COUNTRY</p>
</div>

{{/partial}}
{{> layout.hbs}}
