{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                The kidneys are two bean-shaped organs. Each kidney is about the size of a fist. Your kidneys filter extra water and wastes out of your blood and make urine. Kidney disease means your kidneys are damaged and can’t filter blood the way they should
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://cdn.images.express.co.uk/img/dynamic/11/590x/Kidney-disease-The-condition-has-been-dubbed-a-silent-killer-776113.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                You are at greater risk for kidney disease if you have diabetes or high blood pressure. If you experience kidney failure, treatments include kidney transplant or dialysis. Other kidney problems include acute kidney injury, kidney cysts, kidney stones, and kidney infections.            </p>
            <p>
                Chronic kidney disease (CKD) means your kidneys are damaged and can’t filter blood the way they should. The main risk factors for developing kidney disease are diabetes, high blood pressure, heart disease, and a family history of kidney failure.
            </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://www.niddk.nih.gov/health-information/kidney-disease/"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://www.kidneyfund.org/kidney-disease/kidney-failure/"></a>useful information</h6>
            </div>
            <br>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Chronic kidney disease occurs when a disease or condition impairs kidney function, causing kidney damage to worsen over several months or years.
            </p>
            <p>
                Diseases and conditions that cause chronic kidney disease include:

                type 1 or type 2 diabetes; high blood pressure; glomerulonephritis (gloe-mer-u-low-nuh-FRY-tis), an inflammation of the kidney's filtering units (glomeruli);
                interstitial nephritis (in-tur-STISH-ul nuh-FRY-tis), an inflammation of the kidney's tubules and surrounding structures;
                polycystic kidney disease
            </p>
            <img class="col-md-9" src="http://urologyaustin.com/wp-content/uploads/2018/07/iStock-514054210.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Signs and symptoms of chronic kidney disease develop over time if kidney damage progresses slowly. Signs and symptoms of kidney disease may include:

                nausea; vomiting; loss of appetite; fatigue and weakness; sleep problems; changes in how much you urinate; decreased mental sharpness
             </p>

        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


