{{#partial "content"}}
    <body>
    <br>
    <h1 class="text-center">
        MENTAL DISEASES
    </h1>
    <br><br>
    <div class="row" style="margin-left:100px">
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/mental1.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text" style="font-family: 'Cormorant Garamond', serif;color:#5D0084;" href="/detail13">Trauma related disorders</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Boost low self-esteem may help keep your symptoms under control.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/mental2.jpg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text" style="font-family: 'Cormorant Garamond', serif;color:#5D0084;" href="/detail12">Substance abuse disorders</a>
                <p class="card-text" v>Take care of your body and Quiet your mind.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/mental3.jpeg" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text" style="font-family: 'Cormorant Garamond', serif;color:#5D0084;" href="/detail8">Psychotic disorders</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;">Treat yourself with kindness and respect, and avoid self-criticism and Take care of your body.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 30rem; padding:15px">
            <img src="/images/mental4.webp" class="card-img-top" height="300" width="300" alt="heart">
            <div class="card-body">
                <a class="card-text" style="font-family: 'Cormorant Garamond', serif;color:#5D0084;" href="/detail8">Personality disorders</a>
                <p class="card-text" style="font-family: 'Cormorant Garamond', serif;" > Taking steps to control stress and to increase your resilience</p>
            </div>
        </div>
    </div>
    </body>
<br><br><br>
    <a href="/mentalsol"  class="text-center"><button > Sports & Diets</button></a>
{{/partial}}

{{> layout.hbs}}