{{#partial "content"}}
    <body>
    <div class="row">
        <div class="card" style="width: 25rem; height: 15rem;">
            <img src="/images/mental1.jpg" class="card-img-top" style="width: 25rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Trauma related disorders</p>
                <p class="card-text">Boost low self-esteem may help keep your symptoms under control.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/mental2.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Substance abuse disorders</p>
                <p class="card-text">Take care of your body and Quiet your mind.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/mental3.jpeg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Psychotic disorders</p>
                <p class="card-text">Treat yourself with kindness and respect, and avoid self-criticism and Take care of your body.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/mental4.webp" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Personality disorders</p>
                <p class="card-text"> Taking steps to control stress and to increase your resilience</p>
            </div>
        </div>
    </div>
    </body>

    </div>
{{/partial}}
<style>
    body{
    padding-left:300px;
    justify-content:space-between;
    }
</style>
{{> layout-kimbagira.hbs}}

