{{#partial "content"}}
    <body>
    <div class="row">
        <div class="card" style="width: 25rem; height: 15rem;">
            <img src="/images/heart1.png" class="card-img-top" style="width: 25rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">hypertension</p>
                <p class="card-text">Have a balanced diet. A healthy, balanced diet is recommended for a healthy heart. ...</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/heart2.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Hypotension</p>
                <p class="card-text">Keep your cholesterol and triglyceride levels under control</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/heart3.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">strock</p>
                <p class="card-text">Try to limit saturated fats, foods high in sodium, and added sugars..</p>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 15rem;">
            <img src="/images/heart4.jpg" class="card-img-top" style="width: 20rem; height: 15rem;" alt="heart">
            <div class="card-body">
                <p class="card-text">Aortic</p>
                <p class="card-text">Stay at a healthy weight,Limit alcohol and Get regular exercise</p>
            </div>
        </div>
    </div>
    </body>

    </div>
{{/partial}}
<style>
    body{
    padding-left:300px;
    justify-content:space-between;
    }
</style>
{{> layout-kimbagira.hbs}}
