{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                A personality disorder is a type of mental disorder in which you have a rigid and unhealthy pattern of thinking, functioning and behaving. A person with a personality disorder has trouble perceiving and relating to situations and people. This causes significant problems and limitations in relationships, social activities, work and school.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://ak3.picdn.net/shutterstock/videos/11235983/thumb/1.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                In some cases, you may not realize that you have a personality disorder because your way of thinking and behaving seems natural to you. And you may blame others for the challenges you face.
            </p>
            <p>
                Personality disorders usually begin in the teenage years or early adulthood. There are many types of personality disorders. Some types may become less obvious throughout middle age.
            </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://www.mayoclinic.org/diseases-conditions/personality-disorders/symptoms-causes/syc-20354463"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://www.psychiatry.org/patients-families/personality-disorders/what-are-personality-disorders"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://medlineplus.gov/personalitydisorders.html"></a>useful information</h6>
            </div>
            <br>

        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Personality is the combination of thoughts, emotions and behaviors that makes you unique. It's the way you view, understand and relate to the outside world, as well as how you see yourself. Personality forms during childhood, shaped through an interaction of:

                Your genes: Certain personality traits may be passed on to you by your parents through inherited genes. These traits are sometimes called your temperament.
                Your environment: This involves the surroundings you grew up in, events that occurred, and relationships with family members and others.
            </p>
            <p>
                Personality disorders are thought to be caused by a combination of these genetic and environmental influences. Your genes may make you vulnerable to developing a personality disorder, and a life situation may trigger the actual development.
            </p>
            <img class="col-md-9" src="https://www.verywellmind.com/thmb/mu5aXfY1if3ntx76pc8nqPodPVc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-508897808-58841a965f9b58bdb32cabcb.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Types of personality disorders are grouped into three clusters, based on similar characteristics and symptoms. Many people with one personality disorder also have signs and symptoms of at least one additional personality disorder. It's not necessary to exhibit all the signs and symptoms listed for a disorder to be diagnosed.
            </p>

        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


