{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                Polycystic kidney disease (PKD) is an inherited disorder in which clusters of cysts develop primarily within your kidneys, causing your kidneys to enlarge and lose function over time. Cysts are noncancerous round sacs containing fluid. The cysts vary in size, and they can grow very large. Having many cysts or large cysts can damage your kidneys.
             </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://www.bmj.com/content/bmj/352/bmj.i679/F1.large.jpg" height="300">

        <div class="col-md-5" id="paragraphs">
            <p>
                Polycystic kidney disease also can cause cysts to develop in your liver and elsewhere in your body. The disease can cause serious complications, including high blood pressure and kidney failure.
             </p>
            <p>
                PKD varies greatly in its severity, and some complications are preventable. Lifestyle changes and treatments might help reduce damage to your kidneys from complications.
                Frequent complications of polycystic kidney disease include dangerously high blood pressure (hypertension), pain in the back or sides, blood in the urine (hematuria), recurrent urinary tract infections, kidney stones, and heart valve abnormalities. Additionally, people with polycystic kidney disease have an increased risk of an abnormal bulging (an aneurysm) in a large blood vessel called the aorta or in blood vessels at the base of the brain. Aneurysms can be life-threatening if they tear or rupture.
            </p>
        </div>
<!--        <div class="col-md-3" id="lists">-->
<!--            <div id="one">-->
<!--                <h6><a href="https://www.mayoclinic.org/diseases-conditions/polycystic-kidney-disease/symptoms-causes/syc-20352820"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="two">-->
<!--                <h6><a href="https://ghr.nlm.nih.gov/condition/polycystic-kidney-disease"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="three">-->
<!--                <h6><a href="https://www.kidneyfund.org/kidney-disease/other-kidney-conditions/polycystic-kidney-disease.html"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="four">-->
<!--                <h6><a href="https://www.nhs.uk/conditions/autosomal-dominant-polycystic-kidney-disease-adpkd/"></a>useful information</h6>-->
<!--            </div>-->
<!--        </div>-->

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Abnormal genes cause polycystic kidney disease, which means that in most cases, the disease runs in families. Rarely, a genetic mutation occurs on its own (spontaneous), so that neither parent has a copy of the mutated gene.
             </p>

            <img class="col-md-9" src="https://scx1.b-cdn.net/csz/news/800/2019/39-researcherse.jpg" height="400" >

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
            Symptoms
                Polycystic kidney disease symptoms can include:

                High blood pressure
                Back or side pain
                Headache
                A feeling of fullness in your abdomen
                Increased size of your abdomen due to enlarged kidneys
                Blood in your urine
                Kidney stones
                Kidney failure
                Urinary tract or kidney infections
            </p>
            <p>
                With the amount of options you have to choose from, it can be difficult to find the best solution when learning about breast augmentation. Through a personal consultation, however, you can discuss your expectations and choose the technique that suits you best.
            </p>
        </div>
<!--        <div class="col-md-3" id="icons">-->
<!--            <a href="#" class="fa fa-facebook"></a>-->
<!--            <a href="#" class="fa fa-twitter"></a>-->
<!--            <a href="#" class="fa fa-google"></a>-->
<!--            <a href="#" class="fa fa-instagram"></a>-->
<!--            <a href="#" class="fa fa-youtube"></a>-->
<!--        </div>-->
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>
<a href="/kidneysol"  class="text-center"><button > Sports & Diets</button></a>
</div>

{{/partial}}

{{> layout_nicole.hbs}}


