{{#partial "content"}}
    <div class="sol">
        <div>
            <h2>fitness exercises</h2>
            <h3>Aerobic Exercise</h3>
            <p>What it does: Aerobic exercise improves circulation, which results in lowered blood pressure and heart rate, Stewart says. In addition, it increases your overall aerobic fitness, as measured by a treadmill test, for example, and it helps your cardiac output (how well your heart pumps). Aerobic exercise also reduces the risk of type 2 diabetes and, if you already live with diabetes, helps you control your blood glucose.</p>

            <p>How much: Ideally, at least 30 minutes a day, at least five days a week.</p>

            <p>Examples: Brisk walking, running, swimming, cycling, playing tennis and jumping rope. Heart-pumping aerobic exercise is the kind that doctors have in mind when they recommend at least 150 minutes per week of moderate activity.</p>

            <h3>Resistance Training (Strength Work)</h3>
            <p>What it does: Resistance training has a more specific effect on body composition, Stewart says. For people who are carrying a lot of body fat (including a big belly, which is a risk factor for heart disease), it can help reduce fat and create leaner muscle mass. Research shows that a combination of aerobic exercise and resistance work may help raise HDL (good) cholesterol and lower LDL (bad) cholesterol.</p>

            <p>How much: At least two nonconsecutive days per week of resistance training is a good rule of thumb, according to the American College of Sports Medicine.</p>

            <p>Examples: Working out with free weights (such as hand weights, dumbbells or barbells), on weight machines, with resistance bands or through body-resistance exercises, such as push-ups, squats and chin-ups.</p>

            <h3>Stretching, Flexibility and Balance</h3>
            <p>What they do: Flexibility workouts, such as stretching, don’t directly contribute to heart health. What they do is benefit musculoskeletal health, which enables you to stay flexible and free from joint pain, cramping and other muscular issues. That flexibility is a critical part of being able to maintain aerobic exercise and resistance training, says Stewart.</p>

            <p>“If you have a good musculoskeletal foundation, that enables you to do the exercises that help your heart,” he says. As a bonus, flexibility and balance exercises help maintain stability and prevent falls, which can cause injuries that limit other kinds of exercise.</p>

            <p>How much: Every day and before and after other exercise.</p>

            <p>Examples: Your doctor can recommend basic stretches you can do at home, or you can find DVDs or YouTube videos to follow (though check with your doctor if you’re concerned about the intensity of the exercise). Tai chi and yoga also improve these skills, and classes are available in many communities.</p>

            <h3>What's the Best Exercise for Weight Loss?</h3>
           <p>Both aerobic exercise and resistance training burn calories, as well as help improve your baseline metabolic rate. The more muscle mass you develop, the more calories you burn, says Johns Hopkins exercise physiologist Kerry J. Stewart, Ed.D. “Together with diet, that’s what leads to weight loss,” he says.</p>
        </div><br>
        <button><a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/3-kinds-of-exercise-that-boost-heart-health">for more info</a></button>
        <div>
            <h2>Diet</h2>
      <div class="recipe1">
          <h1>Fruit, vegetables and wholegrains</h1>
          <p>These foods are high in fibre, vitamins and minerals. Eating plenty of vegetables, fruits and wholegrains is consistently linked to people having healthier hearts. And research shows there is a link between eating them and having a lower risk of heart disease.</p>
          <h2>How to increase your fruit and vegetable intake</h2>
          <p>
              <ul>
             <li> For breakfast, add chopped fresh fruit to your cereal or porridge.</li>
          <li>Blend a fruit and vegetable smoothie.<br> You could include some strawberries, baby spinach or banana and reduced-fat milk.</li><br>
          <li>Add salad to your wholegrain sandwich.</li><br> <li>Try grated carrot or cucumber in a cheese or peanut butter sandwich.</li> <br><li>Spinach leaves, tomato and finely cut up onion and mushrooms work well in a toasted sandwich.</li><br>
          <li>Choose a variety of types and colours of fruit and vegetables.</li><br><li> The different colours offer different healthy nutrients.</li><br>
          <li>Aim for a meat-free meal once a week, and replace the meat with legumes.</li><br>
          <h2>Eating out?</h2><br>
          <li>Choose vegetable-based pasta sauces, vegetable toppings for pizzas or stir-frys with lots of greens.</li><br> <li>Make sure you order salad or vegetables with your meal.</li><br>
          <li>Fresh, frozen, canned and dried fruit and vegetables all count towards your daily amount.</li><br> <li>Frozen and canned vegetables can be just as healthy as fresh ones. Read the nutrition information panel to avoid added salt and sugar in these varieties.</li><br>
          <li>Serve fruit for morning and afternoon tea, or try carrot or cucumber sticks.</li><br><li> Chop the fruit and vegetables up in the morning and store in air-tight containers in the fridge for when you get hungry.</li><br>
          <li>Plan your main meal around vegetables.<br> Add an extra serve of vegetables to each main meal.</li><br><li> Add legumes (beans, peas or lentils) to meat or poultry dishes – this adds more vegetables and makes the meat go further.</li><br>
          <li>Choose fruit and vegetables that are in season because they’re fresher and cheaper.</li>
      </ul></p>
      <button><a href="https://www.heartfoundation.org.au/healthy-eating/food-and-nutrition/fruit-vegetables-and-wholegrains">For more info</a></button>
      </div>
        </div>
    </div>
{{/partial}}
{{> layout_amandine.hbs}}