{{#partial "content"}}
    <div class="sol2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <h2 style="font-family: 'Cormorant Garamond', serif;"><strong>fitness exercises</strong></h2>
                    <p style="font-family: 'Cormorant Garamond', serif;">There are three main kinds of exercise—aerobic, strength training, and flexibility work. You
                        should aim to have a good mix of all three.</p>
                    <h2 style="font-family: 'Cormorant Garamond', serif;">Aerobic Exercises</h2>
                    <P style="font-family: 'Cormorant Garamond', serif;">Aim to get at least 30 minutes of cardio (aerobic) exercise most days of the week.<br> If the
                        thought of finding 30 minutes too difficult, you can break up the exercise into shorter periods,
                        say 10 minutes here and there, aiming for a minimum of 30 minutes at the end of the day.</P>
                    <h3 style="font-family: 'Cormorant Garamond', serif;">Aerobic exercises include:</h3>
                    <ul>
                        <li>Tennis</li>
                        <li>Dancing and Zumba</li>
                        <li>Jogging/Running</li>
                        <li>Walking</li>
                        <li>Basketball</li>
                        <li>Swimming</li>
                        <li>Biking</li>
                    </ul>
                    <h2 style="font-family: 'Cormorant Garamond', serif;">Strength Training</h2>
                    <p style="font-family: 'Cormorant Garamond', serif;">Once you have been able to include aerobic activity into your days, then you can start to add in
                        some resistance training.</p>
                    <p style="font-family: 'Cormorant Garamond', serif;">  Strength training helps you to achieve lean, efficient muscles. These resistance-type exercises,
                        adding to walking or jogging, also support strong, healthy bones.<br> Building more muscle in
                        place of fat, is particuarly beneficial when you have type 2 diabetes because muscles use the
                        most glucose, so the more you use your muscles, the more effective you can be at controlling
                        your blood glucose level.</p>
                    <p style="font-family: 'Cormorant Garamond', serif;">Weight training is one of the most used strength building techniques, although you can also use
                        your own body weight to build up strength—think of pull-ups and planks.</p>
                    <p style="font-family: 'Cormorant Garamond', serif;">When you’re starting a weight training program, make sure you know how to use all the equipment.
                        Ask the staff at your gym how you should properly use the weights, or consider getting a
                        personal trainer to learn the best exercises for you.</p>
                    <p style="font-family: 'Cormorant Garamond', serif;">Lifting weights for 20-30 minutes two or three times a week is sufficient to get the full
                        benefits of strength training.</p>
                    <h2 style="font-family: 'Cormorant Garamond', serif;">Flexibility Training</h2>
                    <p style="font-family: 'Cormorant Garamond', serif;">With flexibility training, you’ll improve how well your muscles and joints work.<br> Stretching
                        before and after exercise (especially after exercise) reduces muscle soreness and actually
                        relaxes your muscles.</p>

                    <button><a href="https://www.endocrineweb.com/conditions/type-2-diabetes/type-2-diabetes-exercise">for
                        more info</a></button>
                </div>
                </div>

                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <h1 style="font-family: 'Cormorant Garamond', serif;"><strong>Diet</strong></h1>
                    <h2 style="font-family: 'Cormorant Garamond', serif;">What foods can I eat if I have diabetes?</h2>
                    <p style="font-family: 'Cormorant Garamond', serif;"> You may worry that having diabetes means going without foods you enjoy. The good news is that you
                        can still eat your favorite foods, but you might need to eat smaller portions or enjoy them less
                        often.<br> Your health care team will help create a diabetes meal plan for you that meets your
                        needs and likes.</p>
                    <p style="font-family: 'Cormorant Garamond', serif;">The key to eating with diabetes is to eat a variety of healthy foods from all food groups, in the
                        amounts your meal plan outlines.</p>
                    <h3 style="font-family: 'Cormorant Garamond', serif;">The food groups are</h3>
                    <h4 style="font-family: 'Cormorant Garamond', serif;">vegetables</h4>
                    <li>nonstarchy: includes broccoli, carrots, greens, peppers, and tomatoes
                    <li>starchy: includes potatoes, corn, and green peas
                    <li>fruits—includes<br>
                    <li>oranges, melon, berries, apples, bananas, and grapes</li>
                    </li>
                    <li>grains—at least half of your grains for the day should be whole grains<br>
                    <li>includes wheat, rice, oats, cornmeal, barley, and quinoa</li>
                    <li>examples: bread, pasta, cereal, and tortillas</li>
                    </li>
                    <h4 style="font-family: 'Cormorant Garamond', serif;">protein</h4>
                    <ul>
                        <li>lean meat</li>
                        <li>chicken or turkey without the skin</li>
                        <li>fish</li>
                        <li>eggs</li>
                        <li>nuts and peanuts</li>
                        <li>dried beans and certain peas, such as chickpeas and split peas</li>
                        <li>meat substitutes, such as tofu</li>
                        <li>dairy—nonfat or low fat</li>
                        <li>milk or lactose-
                        <li>free milk if you have lactose intolerance</li>
                        <li>yogurt</li>
                        <li>cheese</li>
                        </li>

                    </ul>
                    <p style="font-family: 'Cormorant Garamond', serif;">Eat foods with heart-healthy fats, which mainly come from these foods:</p>

                    <li>oils that are liquid at room temperature, such as canola and olive oil
                        nuts and seeds
                    </li>
                    <li>heart-healthy fish such as salmon, tuna, and mackerel
                        avocado
                    </li>
                    <h2 style="font-family: 'Cormorant Garamond', serif;">Create a Routine and Stick with It</h2>
                    <p style="font-family: 'Cormorant Garamond', serif;">Make a commitment to exercise; make it a priority. Your long-term health depends on it, so as
                        tough as it may be to find time or to motivate yourself to exercise, keep at it.<br> It will
                        help you lose weight (if you need to do that), and it will make your body more efficient at
                        using its insulin and glucose.</p>
                    <button><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/diet-eating-physical-activity">for
                        more info</a></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{/partial}}
{{> layout.hbs}}