{{#partial "content"}}
    <div class="sol3">
        <div><h1>Fitness exercises</h1>
            <h2>Aerobic</h2>
            <h3>Walking Program:</h3>
            <p>1. Begin by walking at a slow but steady<br>
                pace for 10 minutes 5 days a week.</p>>
            <p>2. Once comfortable with the walking<br>
            10 minutes daily, then increase to<br>
            20 minutes every other day at a brisk
                pace.</p>
            <p>3. At 1 month, increase your time to<br>
                30 minutes every other day.</p>
           <p>4. Then, after 1 month, walk 30 minutes 5
            times a week.</p>
            <p>At this point, you will be walking long
            enough and with the right amount of
            effort to gain the benefits of exercise
            and improve your health</p>
            <h2>Flexibility</h2>
            <p>Stretching exercises will help to
            lengthen and loosen your muscles and
            joints. Perform these as a warm-up
            and cool down part of your overall
                exercise plan.</p>
            <h2>Shoulder Rotations:</h2>
            <p>1. While standing or sitting, move the top
                of your right shoulder forward in a circular motion for 15 to 30 seconds.</p>
            <p>2. Repeat with your left shoulder.</p>
            <h2>Leg Stretches:</h2>
            <p>1. While lying on your back, bend your
                right leg and keep your left leg straight.</p>
            <p>2. With both your hands placed behind
            your right leg, pull your thigh toward
            your chest and hold for 15 to
                30 seconds.</p>
            <p>3. Repeat with your left leg.</p>
            <h2>Strength</h2>
            <h3>Toe Raises:</h3>
            <p>1. Stand straight with your hands on a
            counter or rail for support. Slowly raise
            your heels up off the floor and count to
                two.</p>
            <p>2. Then lower your heels back down to
                the floor. Repeat 8 to 12 times.</p>
            <h3>Leg Lifts:</h3>
            <p>1. Sit in a chair where your back is straight
            and your knees are bent and feet are flat
            on the floor. Lift and straighten your
            right leg and hold for a few seconds.
            Lower your right leg to the starting
                position.</p>
            <p>2. Repeat using your left leg. Perform
                exercise 8 to 12 times with each leg.</p>
            <button><a href="https://www.kidneyfund.org/kidney-disease/chronic-kidney-disease-ckd/kidney-friendly-diet-for-ckd.html">for more info</a></button>

        </div>
        <div>
            <h1>Diet</h1>
            <h2>Step 1: Choose and prepare foods with less salt and sodium</h2>
            <p>Why?<br> To help control your blood pressure. Your diet should contain less than 2,300 milligrams of sodium each day.</p>
            <ul>
                <li>Buy fresh food often. Sodium (a part of salt) is added to many prepared or packaged foods you buy at the supermarket or at restaurants.</li>
                <li>Cook foods from scratch instead of eating prepared foods, “fast” foods, frozen dinners, and canned foods that are higher in sodium. When you prepare your own food, you control what goes into it.</li>
                <li>Use spices, herbs, and sodium-free seasonings in place of salt.</li>
                <li>Check for sodium on the Nutrition Facts label of food packages. A Daily Value of 20 percent or more means the food is high in sodium.</li>
                <li>Try lower-sodium versions of frozen dinners and other convenience foods.</li>
                <li>Rinse canned vegetables, beans, meats, and fish with water before eating.</li>
                <li>Look for food labels with words like sodium free or salt free; or low, reduced, or no salt or sodium; or unsalted or lightly salted.</li>
            </ul>
            <h2>Step 2: Eat the right amount and the right types of protein</h2>
            <p>Why?<br> To help protect your kidneys. When your body uses protein, it produces waste. Your kidneys remove this waste. Eating more protein than you need may make your kidneys work harder.</p>
            <ul>
                <li>Eat small portions of protein foods.</li>
                <li>Protein is found in foods from plants and animals. Most people eat both types of protein. Talk to your dietitian about how to choose the right combination of protein foods for you.</li>
            </ul>
            <p>Animal-protein foods:</p>
            <ul>
                <li>Chicken</li>
                <li>Fish</li>
                <li>Meat</li>
                <li>Eggs</li>
                <li>Dairy</li>
            </ul>
            <p>A cooked portion of chicken, fish, or meat is about 2 to 3 ounces or about the size of a deck of cards.<br> A portion of dairy foods is ½ cup of milk or yogurt, or one slice of cheese.</p>

            <p>Plant-protein foods:</p>
            <ul>
                <li>Beans</li>
                <li>Nuts</li>
                <li>Grains</li>
            </ul>
            <p>A portion of cooked beans is about 1/2 cup, and a portion of nuts is 1/4 cup.<br> A portion of bread is a single slice, and a portion of cooked rice or cooked noodles is 1/2 cup.</p>

            <h2>Step 3: Choose foods that are healthy for your heart</h2>
            <p>Why?<br> To help keep fat from building up in your blood vessels, heart, and kidneys.<br> To help keep fat from building up in your blood vessels, heart, and kidneys.</p>
            <ul>
                <li>Grill, broil, bake, roast, or stir-fry foods, instead of deep frying.</li>
                <li>Cook with nonstick cooking spray or a small amount of olive oil instead of butter.</li>
                <li>Trim fat from meat and remove skin from poultry before eating.</li>
                <li>Try to limit saturated and trans fats. Read the food label.</li>
            </ul>
            <p>Heart-healthy foods:</p>
            <ul>
                <li>Lean cuts of meat, such as loin or round</li>
                <li>Poultry without the skin</li>
                <li>Fish</li>
                <li>Beans</li>
                <li>Vegetables</li>
                <li>Fruits</li>
                <li>Low-fat or fat-free milk, yogurt, and cheese</li>
            </ul>
            <button><a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/eating-nutrition">for more info</a></button>
        </div>
    </div>
{{/partial}}
{{> layout_amandine.hbs}}