{{#partial "content"}}
    <div class="sol4">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="jumbotron jumbotron-fluid">

                        <h2 style="font-family: 'Cormorant Garamond', serif;"><strong>fitness exercises</strong></h2>
            <p style="font-family: 'Cormorant Garamond', serif;">sSome of the exercises youcan do to help you with your mental problems</p>
            <ul>
                <li>Yoga –<br> According to the American Psychological Association, yoga helps with relaxation and easing stress.<br> Eliminating high stress levels is beneficial for those who have uncontrollable negative thoughts, which is common in mental illnesses such as anxiety, depression, and PTSD.</li>
                <li>Cycling – <br>Using motor skills such as biking may help keep white matter in the brain healthy, allowing thinking processes to run smoothly.<br> Research has found that both healthy individuals and individuals suffering from schizophrenia who exercised on stationary bikes had increased white matter integrity by the end of a six-month period, which may contribute to easing symptoms such as impaired motor coordination and disorganized mental imagery.</li>
                <li>Running –<br> A documentary photographer, Martin Eberleen, found running to be the right exercise for him after he was diagnosed with ADHD.<br> He explained to BBC News: “Running helps me control my thoughts, it slows me down, and gives me the opportunity to focus on the things I need to focus on.”<br> Additionally, a study in Frontiers Psychology Journal found that running can help control manic symptoms for those with bipolar disorder.
                    <br> The rhythm established by the runner’s pace provides a calming effect, which helps facilitate mood regulation.</li>
                <li>Aerobic or gym exercise – <br>The Lancet Psychiatry study found that high-intensity aerobic exercise helped promote good mental health.<br> Examples of this type of exercise include using the stair master and elliptical machines.</li>
            </ul>
            <button><a href="https://genesight.com/the-best-types-of-exercise-for-mental-health/">For more info</a></button>
        </div>
                </div>
                <div class="col">

                <div class="jumbotron jumbotron-fluid">
                    <h1 style="font-family: 'Cormorant Garamond', serif;"><strong>Diet</strong></h1>
            <p style="font-family: 'Cormorant Garamond', serif;">You’ve probably heard the expression, “you are what you eat,” but what exactly does that mean? Put simply, food is fuel, and the kinds of foods and drinks you consume determine the types of nutrients in your system and impact how well your mind and body are able to function.</p>

            <h2 style="font-family: 'Cormorant Garamond', serif;">Drinks</h2>
            <p style="font-family: 'Cormorant Garamond', serif;"><strong>Avoid:</strong> Sugary drinks and excessive amounts of caffeine. Sugary drinks have empty calories and damage tooth enamel. Caffeine should also be avoided in excess, as it can trigger panic attacks in people who have anxiety disorders.</p>

            <p style="font-family: 'Cormorant Garamond', serif;"><strong>Try to:</strong> Drink at least 8 glasses of water a day (about 2 liters) to prevent dehydration. Studies show that even mild dehydration can cause fatigue, difficulty concentrating, and mood changes1, in addition to physical effects like thirst, decreased or dark urine, dry skin, headache, dizziness and/or constipation. Limit caffeine if you have an anxiety disorder. If you feel like you need some caffeine, try tea. Tea has lower amounts of caffeine than coffee and has lots of antioxidants-chemicals found in plants that protect body tissues and prevent cell damage.</p>

            <h2 style="font-family: 'Cormorant Garamond', serif;">Breakfast</h2>
            <p><strong>Avoid:</strong> Skipping breakfast. Breakfast is needed to fuel your body (including your brain) after going without food during sleep and also jump starts your metabolism for the day. Skipping meals leads to fatigue and feelings of “brain fog.”</p>

            <p><strong>Try to:</strong> Incorporate a healthy breakfast into your routine. If you’re tight on time in the mornings, grab a whole grain granola bar, yogurt and a piece of fruit to get you off to a good start.</p>

            <h2>Lunch And Dinner</h2>
            <p><strong>Avoid:</strong> High-fat dairy, and fried, refined and sugary foods, which have little nutritional value. In addition to contributing to weight gain, and conditions like diabetes, research shows that a diet that consists primarily of these kinds of foods significantly increases risk of depression.</p>

            <p><strong>Try to:</strong> Eat a diet that relies on fruits, vegetables, nuts, whole grains, fish and unsaturated fats (like olive oil). People who follow this kind of diet are up to 30% less likely to develop depression than people who eat lots of meat and dairy products.</p>

        <button><a href="https://www.mhanational.org/healthy-diet-eating-mental-health-mind">For more info</a></button>
            </div>
                </div>
        </div>
    </div>
    </div>
{{/partial}}
{{> layout.hbs}}