{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">General info</h1>

            <p>
                A stroke happens when blood flow is occluded in a part of the brain. The lack of oxygen damages the brain cells that can have potentially disabling effects on the patient.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://www.hyla.cz/wp-content/uploads/2019/07/mozek-z%C3%A1n%C4%9Bt-v%C4%9Bt%C5%A1%C3%AD-970x889.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                 stroke occurs when the blood supply to part of your brain is interrupted or reduced, depriving brain tissue of oxygen and nutrients. Within minutes, brain cells begin to die.

                A stroke is a medical emergency. Prompt treatment is crucial. Early action can minimize brain damage and potential complications.
            </p>
            <p>
                The good news is that strokes can be treated and prevented, and many fewer Americans die of stroke now than in the past.
            </p>
        </div>
<!--        <div class="col-md-3" id="lists">-->
<!--            <div id="one">-->
<!--                <h6><a href="https://www.stroke.org/en/about-stroke"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="two">-->
<!--                <h6><a href="https://www.mayoclinic.org/diseases-conditions/stroke/symptoms-causes/syc-20350113"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="three">-->
<!--                <h6><a href="https://www.thrombosisadviser.com/en/patient/stroke/?gclid=Cj0KCQjwuNbsBRC-ARIsAAzITucdAEdfEM99xbruO2UAxqE7EPNkNqhF8oFtEJYq3AIoH-oqhRQcJhUaAuBPEALw_wcB"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--        </div>-->

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">Cause</h1>

            <p>
                A stroke may be caused by a blocked artery (ischemic stroke) or the leaking or bursting of a blood vessel (hemorrhagic stroke). Some people may experience only a temporary disruption of blood flow to the brain (transient ischemic attack, or TIA) that doesn't cause permanent damage.
            </p>

            <img class="col-md-9" src="https://sh-sci.org/wp-content/uploads/que-son-los-vertigos-o-mareos-cervicales-chica-sentada-en-sofa-manos-en-la-cabeza-600x400.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Seek immediate medical attention if you notice any signs or symptoms of a stroke, even if they seem to fluctuate or disappear. Think "FAST" and do the following:

                Face. Ask the person to smile. Does one side of the face droop?
                Arms. Ask the person to raise both arms. Does one arm drift downward? Or is one arm unable to rise up?
                Speech. Ask the person to repeat a simple phrase. Is his or her speech slurred or strange?
                Time. If you observe any of these signs, call 911 immediately.
                Call 911 or your local emergency number right away. Don't wait to see if symptoms stop. Every minute counts. The longer a stroke goes untreated, the greater the potential for brain damage and disability.

                If you're with someone you suspect is having a stroke, watch the person carefully while waiting for emergency assistance.
             </p>

        </div>
<!--        <div class="col-md-3" id="icons">-->
<!--            <a href="#" class="fa fa-facebook"></a>-->
<!--            <a href="#" class="fa fa-twitter"></a>-->
<!--            <a href="#" class="fa fa-google"></a>-->
<!--            <a href="#" class="fa fa-instagram"></a>-->
<!--            <a href="#" class="fa fa-youtube"></a>-->
<!--        </div>-->
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>
<a href="/heartsol"  class="text-center"><button > Sports & Diets</button></a>
</div>

{{/partial}}

{{> layout_nicole.hbs}}


