{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">General info</h1>

            <p>
                During breast augmentation, your surgeon will use implants to add fullness to the breasts. Whether due to pregnancy, weight loss, natural aging or heredity, the breasts can appear disproportionate to the rest of the body. Many women choose to have implants inserted to enhance their personal aesthetic and feel more self-confident.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="http://medicare.bold-themes.com/cosmetic-surgery/wp-content/uploads/sites/11/2017/08/cosmetic-surgery-blog-12.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                Breasts are an important part of femininity, but over time physical changes to your body can alter their appearance. Natural aging, weight loss and pregnancy can all affect the size, shape, quality of tissue and volume of the breasts, which may cause you to feel frustrated or lose confidence in your appearance.
            </p>
            <p>
                Having full, shapely or youthful-looking breasts can be crucial when trying to achieve the ideal aesthetic, which is why many women seek out breast enhancement. At Medicare, we perform breast augmentation surgery in order to help uplift your self-image and perfectly complement your body contour.
            </p>
        </div>
<!--        <div class="col-md-3" id="lists">-->
<!--            <div id="one">-->
<!--                <h6>Category</h6>-->
<!--                <p>Services</p>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="two">-->
<!--                <h6>Price Range</h6>-->
<!--                <p>1800-6000</p>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="three">-->
<!--                <h6>Recovery period</h6>-->
<!--                <p>10-30 days</p>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="four">-->
<!--                <h6>Recommended patients</h6>-->
<!--                <p>30-60 yrs old</p>-->
<!--            </div>-->
<!--        </div>-->

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">Cause</h1>

            <p>
                Breast Augmentation uses implants to increase the fullness of the breasts. If you feel as though your breasts are too small, disproportionate to the rest of your body, or if you have had one or both breasts removed from mastectomy, then a breast augmentation may be right for you.
            </p>
            <p>
                You may, however, wish to improve the positioning of your breasts on the chest wall along with making enhancements to their shape and size. In this case, a breast lift is often advised as it places the breasts in a more attractive position. Both procedures can be performed simultaneously to create the best aesthetic efficiently.
            </p>
            <img class="col-md-9" src="http://medicare.bold-themes.com/cosmetic-surgery/wp-content/uploads/sites/11/2018/03/before-after-06-01.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Breast surgery has seen several innovations that have made certain procedures more patient-specific. The type of implant you choose as well as its shape and size are all considerations that need to be made before undergoing surgery. The placement of your implants is also important so you are completely satisfied with your results.
            </p>
            <p>
                With the amount of options you have to choose from, it can be difficult to find the best solution when learning about breast augmentation. Through a personal consultation, however, you can discuss your expectations and choose the technique that suits you best.
            </p>
        </div>
<!--        <div class="col-md-3" id="icons">-->
<!--            <a href="#" class="fa fa-facebook"></a>-->
<!--            <a href="#" class="fa fa-twitter"></a>-->
<!--            <a href="#" class="fa fa-google"></a>-->
<!--            <a href="#" class="fa fa-instagram"></a>-->
<!--            <a href="#" class="fa fa-youtube"></a>-->
<!--        </div>-->
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>
<a href="/mentalsol"  class="text-center"><button > Sports & Diets</button></a>
</div>

{{/partial}}

{{> layout.hbs}}


