{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">General info</h1>

            <p>
                Traumatic events are common, and most people will experience at least one during their lives.
                Post-traumatic stress disorder (PTSD) is a mental health condition that's triggered by a terrifying event — either experiencing it or witnessing it. Symptoms may include flashbacks, nightmares and severe anxiety, as well as uncontrollable thoughts about the event.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://cdn-prod.medicalnewstoday.com/content/images/articles/156/156285/ptsd.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                Most people who go through traumatic events may have temporary difficulty adjusting and coping, but with time and good self-care, they usually get better. If the symptoms get worse, last for months or even years, and interfere with your day-to-day functioning, you may have PTSD.
            </p>
            <p>
                Getting effective treatment after PTSD symptoms develop can be critical to reduce symptoms and improve function.Post-traumatic stress disorder (PTSD) is a disorder that develops in some people who have experienced a shocking, scary, or dangerous event.
            </p>
        </div>
<!--        <div class="col-md-3" id="lists">-->
<!--            <div id="one">-->
<!--                <h6><a href="https://www.phoenixaustralia.org/recovery/?gclid=Cj0KCQjwuNbsBRC-ARIsAAzITudInmiDY0DYw0ry6GGOdHSimxKrvGQKSB2lZT961d9aAvmQg5TBo20aAoT1EALw_wcB"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="two">-->
<!--                <h6><a href="https://www.mayoclinic.org/diseases-conditions/post-traumatic-stress-disorder/symptoms-causes/syc-20355967"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div id="three">-->
<!--                <h6><a href="https://www.nimh.nih.gov/health/topics/post-traumatic-stress-disorder-ptsd/index.shtml"></a>useful information</h6>-->
<!--            </div>-->
<!--            <br>-->
<!--        </div>-->

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1 style="color:#5D0084;font-family: 'Cormorant Garamond', serif;">Cause</h1>

            <p>
                Some common sources of trauma include:
                Rape.
                Domestic violence.
                Natural disasters.
                Severe illness or injury.
                The death of a loved one.
                Witnessing an act of violence.
             </p>

            <img class="col-md-9" src="https://mk0vumagakeqrc7amws0.kinstacdn.com/wp-content/uploads/2018/03/tbi-brain.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                Not every traumatized person develops ongoing (chronic) or even short-term (acute) PTSD. Not everyone with PTSD has been through a dangerous event. Some experiences, like the sudden, unexpected death of a loved one, can also cause PTSD. Symptoms usually begin early, within 3 months of the traumatic incident, but sometimes they begin years afterward. Symptoms must last more than a month and be severe enough to interfere with relationships or work to be considered PTSD. The course of the illness varies. Some people recover within 6 months, while others have symptoms that last much longer. In some people, the condition becomes chronic.
            </p>

        </div>
<!--        <div class="col-md-3" id="icons">-->
<!--            <a href="#" class="fa fa-facebook"></a>-->
<!--            <a href="#" class="fa fa-twitter"></a>-->
<!--            <a href="#" class="fa fa-google"></a>-->
<!--            <a href="#" class="fa fa-instagram"></a>-->
<!--            <a href="#" class="fa fa-youtube"></a>-->
<!--        </div>-->
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>
<a href="/mentalsol"  class="text-center"><button > Sports & Diets</button></a>
</div>

{{/partial}}

{{> layout_nicole.hbs}}


