{{#partial "content"}}
<div class="bdy">
    <div>
        <div class="col-md-9">
            <h1>General info</h1>

            <p>
                A UTI is when bacteria gets into your urine and travels up to your bladder. UTIs cause more than 8.1 million visits to health care providers each year. About 60% of women   and 12% of men   will have at least one UTI during their lifetime.
            </p>
        </div>
        <hr style="width: 100%;">
    </div>
    <br>


    <div class="row">

        <img class="col-md-4" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/what_is_a_urinary_tract_infection_ref_guide/650x350_what_is_a_urinary_tract_infection_ref_guide.jpg">

        <div class="col-md-5" id="paragraphs">
            <p>
                The role of the urinary tract is to make and stores urine. Urine is one of the waste products of your body. Urine is made in the kidneys and travels down the ureters to the bladder. The bladder stores the urine until it is emptied by urinating through the urethra, a tube that connects the bladder to the skin. The opening of the urethra is at the end of the penis in a male and above the vaginal opening in a female.
            </p>
            <p>
                The kidneys are a pair of fist-sized organs in the back that filter liquid waste from the blood and remove it from the body in the form of urine. Kidneys balance the levels of many chemicals in the body (sodium, potassium, calcium, phosphorous and others) and check the blood's acidity. Certain hormones are also made in the kidneys. These hormones help control blood pressure, boost red blood cell production and help make strong bones.

                Normal urine has no bacteria in it, and the one-way flow helps prevent infections. Still, bacteria may get into the urine through the urethra and travel up into the bladde
             </p>
        </div>
        <div class="col-md-3" id="lists">
            <div id="one">
                <h6><a href="https://www.urologyhealth.org/urologic-conditions/urinary-tract-infections-in-adults"></a>useful information</h6>
            </div>
            <br>
            <div id="two">
                <h6><a href="https://www.niddk.nih.gov/health-information/urologic-diseases/bladder-infection-uti-in-adults/definition-facts"></a>useful information</h6>
            </div>
            <br>
            <div id="three">
                <h6><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1313774/"></a>useful information</h6>
            </div>
            <br>
        </div>

    </div>
    <hr style="width:100%;">

    <div>

        <div class="col-md-9" id="thirdSection">
            <h1>Cause</h1>

            <p>
                Large numbers of bacteria live in the area around the vagina and rectum, and also on your skin. Bacteria may get into the urine from the urethra and travel into the bladder. They may even travel up to the kidney. But no matter how far they go, bacteria in the urinary tract can cause problems.

                Just as some people are more prone to colds, some people are more prone to UTIs. Women are more likely to get a UTI than men because women have shorter urethras than men, so bacteria have a shorter distance to travel to reach the bladder.
            </p>

            <img class="col-md-9" src="https://cdn.prod-carehubs.net/n1/802899ec472ea3d8/uploads/2017/06/a-medical-illustration-of-the-kidneys-ureters-bladder-and-urethra-with-E.-coli-in-the-background-and-a-young-girl-holding-her-belly-and-looking-distressed-illustrating-UTIs-in-children-original.jpg">

        </div>
        <div class="col-md-9" id="forthSection">

            <h1>Symptoms</h1>
            <p>
                When you have a UTI, the lining of the bladder and urethra become red and irritated just as your throat does when you have a cold. The irritation can cause pain in your lower abdomen pelvic area and even lower back, and will usually make you feel like urinating more often. Burning or pain when urinating is the most common symptom. You may even feel a strong urge or need to urinate but only get a few drops. This is because the bladder is so irritated that it makes you feel like you have to urinate, even when you don't have much urine in your bladder. At times, you may lose control and leak urine. You may also find that your urine smells bad and is cloudy.
            </p>
            <p>
                Kidney infections often cause fevers and upper back pain - usually on one side or the other. Kidney infections may also often cause nausea and vomiting. These infections need to be treated at once because a kidney infection can spread into the bloodstream and cause a life-threatening health issue.
            </p>
        </div>
        <div class="col-md-3" id="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
    <br>
    <hr style="width:100%;">
    <br>

    </div>

</div>

{{/partial}}

{{> layout_nicole.hbs}}


